<header class="header">
    <div id="mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="logo-ctn">
    		<a href="{{ site.home_url }}">
          <img src="{{ theme.link }}/assets/images/header_logo.svg" alt="Logo">
        </a>
    </div>      
    <nav id="menu">
      {% include 'partials/navigation.twig' %}
    </nav>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLG74N');</script>
    <!-- End Google Tag Manager -->
</header>