{% extends 'base.twig' %}
{% block content %}

<div class="fourofour">
<img src="{{ theme.link }}/assets/images/404.jpg" alt="">
    <div class="contents">
        <h1>Erreur 404</h1>
        <p>
            Désolé, cette page n’existe plus ou est actuellement indisponible. 
            Veuillez utiliser les menus d’entête et de pied de page pour poursuivre votre visite 
            ou retournez à la <a href="/">page d'accueil.</a>
        </p>
        <div><a class="white link" href="/">Revenir à l'accueil</a></div>
    </div>
</div>

{% endblock %}